In [10]:
import os
import pandas as pd

filenames = [];
content = [];
# filenames_test = [];
# authors_test = [];

directory = os.fsencode('./INTCpdf')
for fil in os.listdir(directory):
    filename = os.fsdecode(fil)
    if filename != '.DS_Store':
        filenames.append(filename)
        file = open('./INTCpdf/'+filename, "r") 
#         content.append(file.read())
        
# filenames

In [74]:
df = pd.DataFrame({'filename': filenames})
df

dfprices = pd.read_csv('HistoricalQuotes - INTC.csv')
dfprices.drop
dfprices
df


def row_transform(row):
    pass
#     arr = row[0].split(' - ');
#     output = []

#     return row.to_datetime
    
dfprices['date'] = pd.to_datetime(dfprices['date'])
dfprices['filename'] = dfprices['date'].apply(lambda x: x.strftime('%Y%m%d') + ' - ' + 'INTC')
new_order = [6, 0, 1, 2, 3, 4, 5]
dfprices = dfprices[dfprices.columns[new_order]]

df['filename'] = df['filename'].apply(lambda x: x.split(".")[0])

dfprices['label'] = (dfprices['close'].shift() - dfprices['open'].shift()) > 0
# dfprices
mergeddf = df.merge(dfprices, how='inner', on='filename')
mergeddf['label'] = mergeddf['label'].apply(lambda x: 0 if x == False else 1)
mergeddf
# labeleddf = dfprices.head()

,filename,date,close,volume,open,high,low,label
0,20170727 - INTC,2017-07-27,34.9700,42793930.0000,34.780,35.250,34.670,1
1,20130117 - INTC,2013-01-17,22.6800,99163830.0000,22.120,23.060,22.110,0
2,20120717 - INTC,2012-07-17,25.3800,63256430.0000,25.330,25.660,24.850,1
3,20130717 - INTC,2013-07-17,24.1500,43254340.0000,24.300,24.430,24.040,0
4,20150414 - INTC,2015-04-14,31.4900,39083910.0000,31.680,31.940,31.270,1
5,20141014 - INTC,2014-10-14,32.1400,68305670.0000,31.990,32.665,31.710,1
6,20100413 - INTC,2010-04-13,22.7699,120771000.0000,22.650,22.820,22.470,0
7,20160720 - INTC,2016-07-20,35.6900,42182170.0000,35.300,35.930,35.060,0
8,20150715 - INTC,2015-07-15,29.6900,46800710.0000,29.650,29.990,29.465,0
9,20091013 - INTC,2009-10-13,20.4900,113980600.0000,20.510,20.690,20.350,0
10,20171026 - INTC,2017-10-26,41.3500,37778840.0000,40.910,41.575,40.710,1
11,20130416 - INTC,2013-04-16,21.9150,64295010.0000,21.470,21.930,21.420,1
12,20110720 - INTC,2011-07-20,22.9900,56486020.0000,23.100,23.220,22.900,1
13,20121016 - INTC,2012-10-16,22.3500,79594090.0000,21.990,22.470,21.950,1
14,20110419 - INTC,2011-04-19,19.8600,79480020.0000,19.670,19.980,19.620,1
15,20150115 - INTC,2015-01-15,36.1900,46721140.0000,36.525,36.880,36.030,1
16,20180426 - INTC,2018-04-26,53.0500,38373340.0000,52.260,53.270,52.070,0
17,20151013 - INTC,2015-10-13,32.0400,35183170.0000,32.025,32.480,31.980,1
18,20160419 - INTC,2016-04-19,31.6000,33197850.0000,31.700,31.810,31.400,1
19,20180125 - INTC,2018-01-25,45.3000,35797450.0000,45.880,46.370,45.170,1
20,20140715 - INTC,2014-07-15,31.7100,60478020.0000,31.580,31.800,31.160,1
21,20131015 - INTC,2013-10-15,23.3900,42595630.0000,23.400,23.590,23.320,1
22,20160114 - INTC,2016-01-14,32.7400,48098670.0000,31.970,32.870,31.800,1
23,20100114 - INTC,2010-01-14,21.4800,148109100.0000,21.110,21.550,21.050,0
24,20140415 - INTC,2014-04-15,26.7700,44819130.0000,26.510,26.830,26.360,0
25,20101012 - INTC,2010-10-12,19.7700,93308690.0000,19.650,19.800,19.440,0
26,20140116 - INTC,2014-01-16,26.5400,48635390.0000,26.640,26.740,26.325,1
27,20180726 - INTC,2018-07-26,52.1600,26848630.0000,52.450,53.180,51.870,0
28,20181025 - INTC,2018-10-25,44.3100,47052220.0000,43.540,44.940,43.280,1
29,20170427 - INTC,2017-04-27,37.4300,39524720.0000,36.870,37.500,36.780,1
30,20120119 - INTC,2012-01-19,25.6300,64793020.0000,25.520,25.680,25.370,1
31,20120417 - INTC,2012-04-17,28.4700,60914230.0000,28.450,28.780,28.410,1
32,20090714 - INTC,2009-07-14,16.8300,93513930.0000,16.500,16.890,16.460,1
33,20111018 - INTC,2011-10-18,23.4000,84701740.0000,23.170,23.485,23.065,1
34,20190124 - INTC,2019-01-24,49.7600,49770590.0000,48.700,50.035,48.600,1
35,20110113 - INTC,2011-01-13,21.2900,102422500.0000,21.260,21.320,21.080,0
36,20161018 - INTC,2016-10-18,37.7500,41281870.0000,37.970,38.050,37.530,0
37,20100713 - INTC,2010-07-13,21.0100,99672500.0000,20.970,22.280,20.820,0